body{
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  scroll-behavior: smooth;
}
#TopNavBar{
    position:sticky;
    top:0;
    /* background: transparent; */
    Color: White;
    width:100%;
    /* height:94px; */
    z-index: 1000;
    /* max-width: 120%; */
    background-image: linear-gradient(to right, #ffffff , #f26d4e);
    
}
.top-nav-list{
    text-align: center;
    /* background-image: linear-gradient(to right, #0037ff , #ff00eb); */
    border-radius: 130px;
}
 
  #TopNavBar ul{
    list-style-type:none;
    padding:0;
  }
  #TopNavBar ul a{
    color: black;
    font-weight: 600;
    letter-spacing: 3px;
  }
  #TopNavBar ul li{
    display:inline-block;
    /* width:100px; */
    margin: 22px 0px 0px 40px;
    /* font-weight: 600; */
    cursor: pointer;
    text-transform: uppercase;
    /* font-size: 15px; */

  }
#main-logo{
    margin-left: 25px;
    font-size: 37px;
    cursor: pointer;
    Color:black;
    font-weight: 700;
}
.main-logo{
    font-size: 37px;
    cursor: pointer;
    Color:rgb(0, 126, 255);
    font-weight: 700;
}
.intro-d{
  position: absolute;
  /* top: 180px; */
  padding: 112px;

}
.intro-1{
  font-weight: 100;
  color:white;
  padding-left: 35px;
  letter-spacing: 3px;
}
.intro-name{
  font-weight: bolder;
  color:white;
  padding-left: 35px;
  letter-spacing: 3px;
}
.typewriter {
  font-family: sans-serif;
  color: white;
  padding-left: 35px;
  display: block;
  letter-spacing: 3px;
}
.typewriter-text {
  padding-right: 10px;
  color: #ffe509;
  border-right: solid #ffe509 7px;
  /* text-transform: uppercase; */
  animation: cursor 1s ease-in-out infinite;
  font-weight: bold;
  letter-spacing: 3px;
}
@keyframes cursor {
  from { border-color: #ffe509; }
  to { border-color: transparent; }
}

@media (max-width: 767.98px) {
  .typewriter { font-size: 35px; }
}
@media (min-width: 768px) {
  .typewriter { font-size: 34px; }
}
.intro-about-me{
  position: absolute;
  top: 800px;
  max-width: 100%;
  background-color: white;
}
.hireme,.hireme-d{
  padding-left: 35px;
}
.hireme button{
  border-radius: 5px;
    border: 2px solid rgb(0, 126, 255);
    background: transparent;
    color: black;
    font-size: 23px;
    padding: 4px;
    width: 215px;
    cursor: pointer;
    height: 51px;
  transition: .5s ease;
}

.Hire-me-btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #f26d4e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 23px;
    padding: 5px 0px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'Titillium Web', sans-serif;
}

.Hire-me-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Hire-me-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Hire-me-btn:hover span {
  padding-right: 25px;
}

.Hire-me-btn:hover span:after {
  opacity: 1;
  right: 0;
}
.Hire-me-btn:active,
.Hire-me-btn:focus { 
    outline: none;
}
.myspecial .lbl1{
    margin-left: 50px;
    font-size: 40px;
    font-weight: 600;
    color: rgb(233, 5, 68);
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: serif;
    border-bottom: 2px solid rgb(233, 5, 68);
}
.myspecial .lbl2{
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: serif;
  border-bottom: 2px solid rgb(233, 5, 68);
}
.myspecial-sub{
  padding: 15px;
  /* border-radius: 10px; */
  transition:0.5s;
  /* margin-bottom: 49px; */
  text-align: center;
  height: 250px;
  background-color: #f26d4e0d;
}
.myspecial-sub label{
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
    /* color:white; */
    text-transform: capitalize;
    /* transition:0.5s; */
    font-family: serif;
    
    
}
.myspecial-sub p{
  font-style: italic;
  /* color:white; */

}
.myspecial-sub:hover{
  background-color: #f26d4e;
  cursor:pointer;
  color:white;
  /* border-top-left-radius: 40px;
  border-bottom-right-radius: 40px; */
}
.myspecial-sub:hover label{
  color:white;
}
#Skills{
  transition:0.5s;
}
#aboutlbl{
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 15px;
}
#abouttextlal{
  font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    color: #f26d4e;
}
.prog-span{
  position: absolute;
    top: 7px;
    right: 18px;
    color: black;
    font-weight: 700;
    font-size: 15px;
}
#html-prog,#css3-prog,#py-prog,#rb-prog,#jq-prog{
  height: 7px;
  margin-bottom: 17px;
}
.progress-bar.color-1{
  background: #2c98f0;
}
.progress-bar.color-2{
  background: #ec5453;
}
.progress-bar.color-3{
  background: #f9bf3f;
}
.progress-bar.color-4{
  background: #a84cb8;
}
.progress-bar.color-5{
  background: #2fa499;
}
.progress-wrap h3{
  font-size: 16px;
    font-family: "Quicksand", Arial, sans-serif;
    margin-bottom: 10px;
    
}
.edu-lbl{
  font-size: 21px;
    font-family: "Quicksand", Arial, sans-serif;
}
.edu-li{
  font-size: 15px;
    color: #575757;
}
.edu-location{
  font-size: 16px;
    color: #575757;
}
.edu-back:hover{
  background-color: #edfaff;
  cursor:pointer;
}
.cont-info-lbl{
  font-size: 28px;
    margin-bottom: 27px;
    font-family: "Quicksand", Arial, sans-serif;
}
.con-info p a{
  color: #731600;
  
  text-decoration: none;
}
.con-info p a:hover{
  color: black;
  text-decoration: none;
}
.con-inp{
    border: transparent;
    background: #f2f3f7;
    height: 54px;
    font-size: 16px;
    font-weight: 400;
    appearance: none;
    width: 81%;
    padding-left: 15px;
}
.con-inp-multi{
  border: transparent;
  background: #f2f3f7;
  font-size: 16px;
  font-weight: 400;
  appearance: none;
  width: 81%;
  padding-left: 15px;
  padding-top: 10px;
}
/* The button */
#button-blue{
	float: left;
    width: 35%;
    max-width: 500px;
    /* border: white solid 4px; */
    border: 2px solid rgb(0, 126, 255);
    cursor: pointer;
    background-color: #ffffff;
    /* margin-top: -4px; */
    color: black;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: .1em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 5px;
}

/* Change text color & background opacity on hover*/
#button-blue:hover{
	background-color: rgba(0,0,0,0);
  color:white;
  border: transparent;
  
}

/* The white hover effect */
.ease {
	width: 0px;
	height: 45px;
	background-color: white;
	-webkit-transition: .4s ease;
	-moz-transition: .4s ease;
	-o-transition: .4s ease;
	-ms-transition: .4s ease;
  transition: .4s ease;
  border-radius: 5px;
}

/* Make visable when hover */
.btn-container:hover .ease{
	width: 35%;
	max-width: 500px;
	background-image: linear-gradient(to right, #0037ff , #ff00eb);
  border: 0;
  border: transparent;
}
.slide_right:hover {
  box-shadow: inset 220px 0 0 0 #0037ff;
  border: transparent;
  border-radius: 5px;
  color: white;
}
.join-di{
  margin-bottom: 150px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;
  background-image: linear-gradient(to right, #5600ff , #ff00b1b3);
}
.closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  padding: 8px 8px 8px 32px;
  font-size: 55px;
}
.sidenav a {
  padding: 56px 20px 0px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav.closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#maindiv {
  transition: margin-left .5s;
  /* padding: 16px 0px; */
}
.hidden-menu{
  display: none;
}
.top-nv-logo{
  display: flex;
  font-size:35px;
  cursor:pointer; 
  color: black;
  margin: 5px 5px;
}
.code-img{
  text-align: center;
  padding: 40px 0px;
  display: block;
}
.code-img img{
  width: 260px;
  height: 250px;
}
@media screen and (max-height: 800px) {
  .sidenav {padding-top: 15px;
    font-family: 'Titillium Web', sans-serif;
  }
  .sidenav a {
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
  }
}

@media screen and (max-width: 800px) {
  #about,#skill,#edu,#contactme{
    text-align: center;
  }
  .top-nav-list,.code-img{
    display: none;
  }
  .hidden-menu{
    display: block;
  }
}
#animated-title{
  padding: 170px 0px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  /* border-radius: 5px; */
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}
#animated-title:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
  filter: blur(3px);
  /* margin: -20px; */
}
.hidden-class{
  background-image:linear-gradient(to right, #f26d4e, #ffffff);
  box-shadow:4px 12px 8px 0px #8080804f;
  color: white;
  transition:0.4s;
}